<span class="meta">
  <i class="fa fa-calendar"></i>
  {{ post.date | date:"%Y-%m-%d %H:%M" | remove: " 00:00" }}
  &nbsp;&nbsp;&nbsp;<i class="fa fa-tags"></i>    
  {% for cate in post.category %}
    &nbsp;&nbsp;<a class="func-a" href="{{ site.baseurl }}/categories/#{{ cate | cgi_escape | remove: "%" }}">{{ cate }}</a>
  {% endfor %}
  {% for tag in post.tags %}
    &nbsp;&nbsp;<a class="func-a" href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape | remove: "%" }}">{{ tag }}</a>
  {% endfor %}
</span>