<div class="sed-header">
    <span class="title"><a title="{{ site.description }}" href="{{ site.url }}">{{ site.title }}</a></span>
    <span class="pull-right top-bar">
		<span>
		  <a href="{{ site.baseurl }}{{ '/tags' }}" title="标签" rel="nofollow">
		    <span class='fa fa-tags fa-lg'></span>
		  </a>
		</span>
		&nbsp;&nbsp;
		<span>
		  <a href="{{ site.baseurl }}{{ '/categories' }}" title="分类">
		    <span class='fa fa-list-alt fa-lg'></span>
	      </a>
		</span>
		&nbsp;&nbsp;&nbsp;
	</span>
  </div>