<h3 class="my-h3-title">分类</h3>
<div class="my-side-tags">
	<ul class="list-group">
	  {% for tag in site.categories %}
{% assign f = 'unknown' %}
{% for cat in site.data.cats %}
{% if tag[0] == cat[0] %}
{% assign f = cat[1] %}
{% break %}
{% endif %}
{% endfor %}
	  <li class="list-group-item">
		<a href="{{ site.baseurl }}/categories/{{ f }}">{{ tag[0] }}</a>
		<span class="badge">{{ tag[1].size }}</span>
	  </li>
	  {% endfor %}
	</ul>
</div>
<h3 class="my-h3-title">标签</h3>
<div class="my-side-tags">
	<ul class="list-group">
	  {% for tag in site.tags %} 
	  <li class="list-group-item">
		<a href="{{ site.baseurl }}/tags/#{{ tag[0] | cgi_escape | remove: "%" }}">{{ tag[0] }}</a>
		<span class="badge">{{ tag[1].size }}</span>
	  </li>
	  {% endfor %}
	</ul>
</div>